.list-item,
.add-bar {
  padding: 5 10;
}
.list-item {
  margin: 20 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
.bg-red {
  background-color: #CB1D00;
}
TextField {
  color: white;
}

/* Animate the list when loaded */
ListView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}